@page
@model AdminWebApp.Pages.CategoriesModel
@{
}
@foreach (var category in Model.CategoryList)
{
    <li class="list-group-item"><a asp-page="Product" asp-route-categoryId="@category">@category</a></li>
}
