@page
@model AdminWebApp.Pages.Products.EditModel
@{
}
<p>Enter a product info:</p>

<form method="post">
    Name:
    <input asp-for="ProductMod.Name" />
    Price:
    <input asp-for="ProductMod.Price" />
    ImageUrl:
    <input asp-for="ProductMod.ImageUrl" />
    Category:
    <select asp-for="ProductMod.CategoryId" class="form-control"
            asp-items="@Model.Categories">
        <option value="">-- Select Parent --</option>
    </select>
    <input type="submit" />
</form>