@model ShopWebApp.Models.CategoryAssortment

@{
    ViewData["Title"] = "CategoryAssortment";
}

<h1>@Model.Name</h1>

<div class="container mt-3 mb-4">
    @if (Model.Items != null && !Model.Items.Any())
    {
        <h4>Category is empty</h4>
        <h4>Check in subcategories</h4>
        @foreach (var item in Model.ChildCategories)
        {
            <li>@Html.ActionLink(item.Name, "CategoryAssortment", new { id = @item.Id })</li>
        }
    }
    else
    {
        <div class="row">
            <div class="col-sm">
                <div class="card-deck">
                    @foreach (var item in Model.Items)
                    {
                        <div class="col-sm">
                            <partial name="_ProductItemPartial" model="@item" />
                        </div>
                    }

                </div>
            </div>
        </div>
    }



</div>

