@page
@model AdminWebApp.Pages.Categories.EditModel
@{
}
<p>Enter a category info:</p>

<form method="post">
    Name:
    <input asp-for="CategoryMod.Name" />
    Parent:
    <select asp-for="CategoryMod.ParentId" class="form-control"
            asp-items="@Model.Categories">
        <option value="">-- Select Parent --</option>
    </select>
    <input type="submit" />
</form>